@use './utilities/index' as *;

.link{
    text-decoration: none;
}

.delete-popup-container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    transform: translate(-50%, -50%);
    background-color: rgba($color: #5e5d5d40, $alpha: 0.3);
}

.delete-popup{
    position: absolute;
    height: 180px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    background-color: $second-white-bg;
}

.delete-popup-info{
    margin-bottom: 20px;
}

.delete-btns-container{
    display: flex;
}

.accept-delete{
    margin-right: 25px;
}

.reject-delete, .accept-delete{
    height: 35px;
    width: 80px;
    border: solid 1px $gray;
    border-radius: 8px;
    transition: background-color .3s;
}

.reject-delete:hover, .accept-delete:hover{
    cursor: pointer;
    background-color: $gray;
}