@use './utilities/index' as *;

.link{
	text-decoration: none;
}

.dropdown-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	height: 90px;
	top: 20px;
	left: 20px;
	padding: 5px 10px;
	background-color: $second-white-bg;
	z-index: 1;
	border: solid 2px $gray;
	border-radius: 4px;
	list-style: none;
}

.dropdown-list::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: -12.3px;
	left: 10px;
	height: 20px;
	width: 20px;
	background-color: $second-white-bg;
	border-left: solid 2px $gray;
	border-top: solid 2px $gray;
	rotate: 45deg;
}

.dropdown-item > a {
	display: block;
	color: $dark-gray;
	border-bottom: solid 2px transparent;
	text-decoration: none;
	transition: color 0.3s, border-bottom 1s;
}

.dropdown-item > a:hover {
	color: $darker-gray;
	border-bottom: solid 2px rgb(180, 179, 179);
}

.inactive {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: 0.4s ease;
}

.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: 0.4s ease;
}
