$main-white-bg: #fff;
$second-white-bg: #f7f7f7;
$light-blue: #a4ffee;
$main-blue: #23eac6;
$darker-blue: #20ba9e;
$light-gray: #e5e5e5;
$gray: #d9d9d9;
$dark-gray: #9b9898;
$darker-gray: #5b5b5b;
$light-red: rgb(237, 179, 179);
$red: rgb(214, 81, 81);
